@import "color";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	font-family: "Lato", sans-serif;
	background: $black;
}

nav {
	text-transform: uppercase;
	width: 100%;
	position: relative;
	z-index: 1;

	.navbar-shadow {
		position: absolute;
		top: 0;
		height: 80px;
		width: 100%;
		background: rgb(143, 143, 143);
		background: linear-gradient(
			180deg,
			rgb(0, 0, 0) 0%,
			rgba(18, 18, 18, 0) 100%,
			rgba(100, 100, 100, 0.412) 100%
		);
		z-index: -9;
	}

	.nav-link,
	.fa-bars {
		color: $gray;
	}

	.active {
		//Used important, because it didn't overwrite otherwise
		color: $green !important;
	}

	.nav-link:hover {
		color: $light-green;
	}

	.fa-brands {
		padding-left: 10px;
		padding-top: 10px;
		color: $green;
		font-size: xx-large;
	}

	.fa-brands:hover {
		color: $red;
	}

	.fa-bars {
		padding-top: 10px;
		color: $green;
	}

	.navbar-toggler {
		border: 0;
	}
	.navbar-toggler:focus {
		box-shadow: none;
	}
}

header {
	color: $gray;
	text-transform: uppercase;

	.hero_background {
		position: relative;
		height: 100vh;
		background-image: url("../img/hero_small.jpg");
		background-attachment: fixed;
		z-index: 0;
	}
	.hero_shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: -10;
	}
	.hero_header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		z-index: 5;

	}
	
	.fa-chevron-down {
			position: absolute;
			bottom: 20px;
			left: 50%;
			transform: translateX(-50%);
			font-size: 20px;
			color: $gray;
	}
	
}


@media (min-width: 375px) {
	nav {
		.fa-brands, .fa-bars {
			font-size: 40px;
		}
		.nav-link {
			margin-top: 10px;
			margin-left: 10px;
			font-size: 20px;
		}
		
	}
}

@media (min-width: 768px) {
	nav {
		.container {
			margin-top: 20px;
		}		
	}

	header {
		h1 {
			font-size: 45px;
		}

		p {
			font-size: 24px;
		}

		.fa-chevron-down {
			font-size: 30px;
		}
	}
}

@media (min-width: 1200px) {
	header {
		.hero_background {
			background-image: url("../img/hero_large.jpg");
		}
	}
}
